# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
.logs
dist

# Node dependencies
node_modules

html-generated

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example